<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/user.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <title>SignUp-ThirdEye - eCommerce</title>
</head>

<body>
  <div class="login-container">
    <form class="login-form" method="POST" action="/user/signup?referalId=<%=referalId%>" onsubmit="return validateSignupForm()">
      <h1>Welcome</h1>
      <%if(message) { %>
        <p style="color: red">
          <%=message%>
        </p>
        <%}%>
          <p>Please Register Your Account</p>
          <div class="input-group">
            <input type="text" id="username" name="username" placeholder="New Username" />
            <p id="usernameVal" style="color: red"></p>
          </div>
          <div class="input-group">
            <input type="text" id="email" name="email" placeholder="New Email" />
            <p id="emailVal" style="color: red"></p>
          </div>
          <div class="input-group">
            <input type="number" id="phone" name="phone" placeholder="New Phone Number" />
            <p id="phoneVal" style="color: red"></p>
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="New Password" />
            <p id="passwordVal" style="color: red"></p>
          </div>
          <div class="input-group">
            <input type="password" id="confirmPassword" name="confirmpassword" placeholder="Confirm Password" />
            <p id="confirmPassVal" style="color: red"></p>
          </div>

          <button type="submit">SignUp</button>
          <div class="bottom-text">
            <p>Already have an account? <a href="/user/login">Sign In</a></p>
          </div>
    </form>
  </div>
</body>

<script src="/js/formValidations.js"></script>

</html>