<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/user.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0tYJMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <title>login form-ThirdEye - eCommerce</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="login-container">
        <%if(message){%>
          <p class="text-danger"><%=message%></p>
        <%}%>
        <form
          class="login-form"
          method="POST"
          action="/user/login"
          onsubmit="return validateLoginForm()"
        >
          <h1 class="mb-3">Welcome Back</h1>
          <p>Please login to your account</p>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="username"
              name="loginEmail"
              placeholder="Enter email"
              required
            />
            <p id="usernameVal" class="text-danger small"></p>
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              name="loginPassword"
              placeholder="Password"
              required
            />
            <p id="passwordVal" class="text-danger small"></p>
          </div>

          <button type="submit" class="btn btn-primary w-100">Submit</button>
          <div class="text-center mt-3">
            <p>Don't have an account? <a href="/user/signup">Sign Up</a></p>
            <p><a href="/user/forgotPassword">Forgot password?</a></p>
          </div>
        </form>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Dummy Data to Login</h5>
            <p class="card-text"><strong>Email:</strong> ajmal@gmail.com</p>
            <p class="card-text"><strong>Password:</strong> ajmal@123</p>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/formValidations.js"></script>
  </body>
</html>
